
@{
    ViewBag.Title = "Index";
}

<style>
    .img-responsive {
        margin: 0 auto;
        align-content: center;
        align-items: center;
    }

    p {
        text-align: justify;
    }
</style>
<div class="jumbotron" style="background-color:black; color:white; font-family:Bahnschrift">
    <h1>Projetos</h1><br>
    <p class="lead">  Treinamento GFT</p>

</div>

<div class="row">

    <!--Java-->

    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/repo.png" />
        <h2>Exercício de Heramça e Polimorfimo (Java)</h2>
        <p>
            Com o inicio dos estudos de Programação Orientada á Objeto, os conceitos de herança é utilizado para que as características do Veiculo "pai"  instaciem suas "filhas: carro, avião e caminhão.
            Após o instancimento, os métodos são alterados com uso do polimorfismo.<br>
        </p>
        <p><a class="btn btn-default" href="https://github.com/gui-azesantos/Exercicio-Polimorfismo" target="_blank"> GitHub &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/repo.png" />
        <h2>Prova POO (Java)</h2>

        <p>
            Com o uso da Programação orientada a objeto, foram aplicados conceitos de polimorfimos como
            Overide e Overcharge para diferenciar metódos do "pai" para suas "filhas". Também foram exploradas as manipulações de Arrays.
            A atividade foi incialmente um teste de mesa.
            <br>
        </p>
        <p><a class="btn btn-default" href="https://github.com/gui-azesantos/ProvaPOO-Java" target="_blank"> GitHub &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/repo.png" />
        <h2> Desafio 04 (Java)</h2>
        <p>
            O Desafio 04 consistiui na construção de um software capaz de instanciar projetos de uma loja, instaciar a loja,
            calcular os impostos dos produtos e patrimonio total. Tudo que foi construido utlizou de conceitos de POO.
        </p>
        <p><a class="btn btn-default" href="https://github.com/gui-azesantos/Desafio-04" target="_blank"> GitHub &raquo;</a></p>
    </div>


    <!--C#-->
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/repo.png" />
        <h2>Exercício de Herança e Polimorfismo (C#)</h2>
        <p>
            Com o inicio dos estudos de Programação Orientada á Objeto, os conceitos de herança é utilizado para que as características do Veiculo "pai"  instaciem suas "filhas: carro, avião e caminhão.
            Após o instancimento, os métodos são alterados com uso do polimorfismo.<br>
        </p>
        <p><a class="btn btn-default" href="https://github.com/gui-azesantos/Heranca-e-PolimorfismoCSharp" target="_blank"> GitHub &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/repo.png" />
        <h2>Prova POO (C#)</h2>
        <p>
            Com o uso da Programação orientada a objeto, foram aplicados conceitos de polimorfimos como
            Overide e Overcharge para diferenciar metódos do "pai" para suas "filhas". Também foram exploradas as manipulações de Arrays.
            A atividade foi incialmente um teste de mesa.
            <br>
        </p>
        <p><a class="btn btn-default" href="https://github.com/gui-azesantos/ProvaPOO-CSharp" target="_blank"> GitHub &raquo;</a></p>

    </div>

    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/repo.png" />
        <h2>Desafio 04(C#)</h2>
        <p>
            O desafio 04 consistiui na construção de um software capaz de instanciar uma loja, seus produtos,
            calcular os impostos e patrimonio total.
        </p>
        <p><a class="btn btn-default" href="https://github.com/gui-azesantos/Desafio04-CSharp" target="_blank">  GitHub &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/repo.png" />
        <h2>Desafio 05(C#- ASP.Net MVC)</h2>
        <p>
            O Desafio 05 é o atual site. Foi utilizado o MVC ASP.Net para sua construção,conceitos esse estudado e colocado em prática nesse projeto inicial.
        </p>
        <p><a class="btn btn-default" href="https://github.com/gui-azesantos/Desafio05" target="_blank"> GitHub &raquo;</a></p>
        <!--C#-->
    </div>
</div>



