
@{
    ViewBag.Title = "Index";
}

<style>
    img .text-center .img-responsive {
        margin: 0 auto;
        align-content: center;
        align-items: center;
    }

    h2 {
        text-align: center;
    }
</style>


<div class="jumbotron" style="background-color:darkred; color:white; ">
    <h1>Habilidades </h1>

</div>


<div class="row">

    <!--Java-->
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/java-logo.png" />

        <h2> Java</h2>
        <div class="progress">
            <div class="progress-bar " role="progressbar" style="width:70%; background-color:#E74422 !important;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">7/10</div>
        </div>
        <div style=" font-size:18px">
            <p>
                <ul>
                    <li>Intermediário</li>
                    <li>Orientação a Obejeto(POO)</li>
                    <li>MVC</li>

                </ul>

            </p>
        </div>

    </div>

    <!--C#-->
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/CSharp.png" />
        <h2>C#</h2>
        <div class="progress">
            <div class="progress-bar " role="progressbar" style="width:70%; background-color:rebeccapurple !important;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">7/10</div>
        </div>
        <div style=" font-size:18px">
            <p>
                <ul>
                    <li>Intermediário</li>
                    <li>Orientação a Obejeto(POO)</li>
                    <li>ASP.NET MVC</li>

                </ul>
            </p>
        </div>

    </div>

    <!--HTML e CSS-->
    <div class="col-md-3">
        <img class="img-responsive" src="~/Content/Images/html.png" />
        <h2>HTML e CSS</h2>
        <div class="progress">
            <div class="progress-bar " role="progressbar" style="        width: 60%;
        background-color: #322F2F !important;
" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">6/10</div>
        </div>
        <div style=" font-size:18px;">
            <p>
                <ul>
                    <li>Intermediário</li>
                    <li>Bootstrap</li>

                </ul>
            </p>
        </div>


    </div>

    <!--JavaScript-->
    <div class="col-md-3" style="font-family:Bahnschrift">
        <img class="img-responsive" src="~/Content/Images/JS.png" />
        <h2> JavaScript</h2>
        <div class="progress">
            <div class="progress-bar " role="progressbar" style="width:50%; background-color:gold !important;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">5/10</div>
        </div>
        <div style="font-size:18px;">
            <p>
                <ul>
                    <li>Básico</li>

                </ul>

            </p>
        </div>


    </div>




</div>



