@{
    ViewBag.Title = "Index";
}


<div class="jumbotron" style="background-color: mediumpurple; color:white; font-family:Bahnschrift">
    <h1>@ViewBag.Message </h1>

</div>


<div style="font-size:22px; ">
    <div class="col-lg">
        <address>
            <strong>LinkedIn</strong>  <a href="https://www.linkedin.com/in/gui-azesantos">gui-azesantos</a><br />
            <strong>E-mail:</strong>   <a href="mailto:gui-azesantos@hotmail.com">gui-azesantos@hotmail.com</a><br />
            <strong>Telefone</strong>  <a href="tel:+5511946554482"> +55 (11) 94655-4482</a> <br>
            <strong>GitHub:</strong>   <a href="https://github.com/gui-azesantos"> gui-azesantos</a>
        </address>
    </div>
</div>